/*Caja que engloba todo el ejercicio*/
/*Si la pantalla mide más de 1200px no se mostrará*/
main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
#headerPrincipal {
  background-color: black;
  margin-bottom: 20px;
}
section {
  background-color: black;
}
#footerPrincipal {
  background-color: black;
}

/*Caja primera*/
/*Primera cabecera de la caja*/
#containerHeader1 {
  background-color: #2d4059;
  margin: 20px 20px 8px 20px;
  height: 40px;
  display: flex;
}
#parrafoHeader1 {
  background-color: #ea5455;
  width: 25%;
  height: 20px;
  margin: 10px 10px 10px 15px;
}
#parrafoHeader2 {
  background-color: #ea5455;
  width: 50%;
  height: 20px;
  margin: 10px 10px 10px 10px;
}
#parrafoHeader3 {
  background-color: #ea5455;
  width: 25%;
  height: 20px;
  margin: 10px 15px 10px 10px;
}

/*Segunda cabecera de la caja*/
#containerHeader2 {
  background-color: #f07b3f;
  margin: 8px 20px 20px 20px;
  height: 40px;
  display: grid;
  grid-template-areas: "parrafoEntero";
}
#header2Parrafo {
  grid-area: parrafoEntero;
  background-color: #fed460;
  height: 20px;
  margin: 10px 15px;
}

/*Segunda Caja*/
/*Contenedor principal de la segunda caja*/
#containerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 170px;
}
/*Contenedor primero de la segunda caja*/
#containerSection1 {
  background-color: gray;
  margin: 20px 10px 20px 20px;
  width: 50%;
  display: grid;
  grid-template-areas:
    "encabezado encabezado2"
    "article article2"
    "pie pie";
}

#sectionHeader1 {
  grid-area: encabezado;
  background-color: #1f6cb0;
  margin: 15px 10px 10px 15px;
}
#sectionHeader2 {
  grid-area: encabezado2;
  background-color: #1f6cb0;
  margin: 15px 15px 10px 10px;
}
#sectionArticle1 {
  grid-area: article;
  background-color: #1f6cb0;
  margin: 10px 10px 10px 15px;
}
#sectionArticle2 {
  grid-area: article2;
  background-color: #1f6cb0;
  margin: 10px 15px 10px 10px;
}
#sectionFooter {
  grid-area: pie;
  background-color: #70a3c4;
  margin: 10px 15px 15px 15px;
}

/*Contenedor segundo de la segunda caja*/
#containerSection2 {
  background-color: #f73f52;
  margin: 20px 20px 20px 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#section2Header {
  background-color: #feea85;
  margin: 15px 15px 10px 15px;
  height: 20px;
}
#section2Article {
  background-color: #feea85;
  margin: 10px 15px 15px 15px;
  height: 20px;
}

/*Ultima Caja*/
#footerPrincipal {
  margin-top: 20px;
}
#containerFooter {
  background-color: #e6af2e;
  height: 20px;
  margin: 20px;
}


/*Para tablets*/
@media (max-width: 48em) {
/*Segunda Caja*/
/*Contenedor principal de la segunda caja*/
#containerSection {
  background-color: #feff03;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  align-content: space-between;
}
/*Contenedor primero de la segunda caja*/
#containerSection1 {
  margin: 20px 20px 10px 20px;
  width: auto;
  height: 100px;
}

#sectionHeader1,
#sectionHeader2,
#sectionArticle1,
#sectionArticle2 {
  height: 50%;
}
#sectionFooter {
  height: 50%;
  margin-bottom: 20px;
}
/*Contenedor segundo de la segunda caja*/
#containerSection2 {
  width: auto;
  height: 80px;
  margin: 10px 20px 20px 20px;
}

#section2Header {
  height: 30px;
  margin: 15px 15px 5px 15px;
}
#section2Article {
  height: 30px;
  margin: 5px 15px 15px 15px;
}
}
